<html>
	<script type = "text/javascript" src = "@path1/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var imgPtrn = "<img src= '@path2/image/image.do?image=%s' />";
			var videoPtrn = "<video src = '@path3/image/image.do?image=%s />'";
			var resultArea = $("#resultArea");
			
			$("select").on("change", function(){
				let value = $(this).val();
				let option = $(this).find("option:selected");
				let fileClass = $(option).attr("class");
				console.log("option"+option);
				console.log("fileClass"+fileClass);
				
				let innerTag = null;
				
				if(fileClass.startsWith("image")){
					innerTag = imgPtrn.replace("%s", value);
				}else if(fileClass.startsWith("video")){
					innerTag = videoPtrn.replace("%s", value);
				}
				if(innerTag){
					resultArea.html(innerTag);
				}
			});
		});
	</script>
	<body>
		<select>
			<option>파일선택</option>
			@options
		</select>
		<div id = "resultArea">
			
		</div>
	</body>
</html>